@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Light.woff2") format("woff2"),
    url("./fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("./fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;

  --background-color: rgba(238, 239, 233, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  /* display: flex;
  place-items: center;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* here is the site container for every section */

/* for wider screens I want the container to only be 1200 wide */

.container {
  width: 1200px;
  max-width: 75%;
  margin: 0 auto;
}

/* here is the navbar styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  position: sticky;
  top: 0;
}

.navbarElements {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.navbarElements li {
  margin-right: 1em;
  font-size: 18px;
  line-height: 1.1;
}

.logo {
  height: 50px;
  width: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 40px;
}

.hamburger button {
  font-size: 1em;
  background-color: var(--background-color);
  border: none;
}

/* styling to make the navbar hamburger on ipad & mobile */

@media (max-width: 768px) {
  .navbarElements {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
